.inputBox {
  position: relative;
  display: flex;
  width: 100%;

  input {
    border: none;
    width: 100%;
  }

  .reset {
    position: absolute;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    display: none;
    color: var(--color-text-week);
    cursor: pointer;

    &.visible {
      display: flex;
    }
  }
}
