.container {
  position: absolute;
  top: 100%;
  white-space: nowrap;
  font-size: var(--ft-13);
  padding: 0.5rem;
  color: #333;
  border: 1px solid #369;
  background: #fff;
  z-index: 9999;
  cursor: auto;
}
