@import '@/styles/mixins/flex.scss';

.category {
  @include flex(column, center, center, start);
  margin: 0 auto;
  padding: 7rem 0;
  max-width: var(--w-post);

  h2 {
    margin-bottom: 4rem;
    display: inline-block;
    font-size: var(--ft-36);
  }
}
