@import "@/styles/mixins/flex.scss";

.category {
  @include flex(column, center, center, start);
  margin: 0 auto;
  padding: 7rem 0;
  max-width: var(--w-post);

  h2 {
    margin-bottom: 4rem;
    display: inline-block;
    font-size: var(--ft-36);
  }

  .cardContainer {
    margin-bottom: 4rem;
    display: inline-block;
    gap: var(--gap-20);
    width: 100%;

    // 컬럼 카운트
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
