.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .dateAndReplyBox {
    display: flex;
    align-items: center;

    .date {
      margin-right: 0.5rem;
      font-size: var(--ft-14);
      color: var(--color-text-week);
    }
  }
}
