@import "@/styles/mixins/hover.scss";
.subTitleBox {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f00;
  h5 {
    padding: 0.5rem 0;
    font-size: var(--ft-17);
    @include hoverBG();
  }
}
