.container {
  margin: 8rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--w-manage);

  .manageTitle {
    margin-bottom: 1.5rem;
    font-size: var(--ft-36);
  }

  .dates {
    .oneDate {
      .likedDate {
        padding: 1rem;
        font-size: var(--ft-19);
        background: #f8f9fa;
        border-radius: 0.5rem;
      }
      .postList {
        margin-bottom: 1rem;
        padding: 1.5rem;
      }
    }
  }
}
