@import "@/styles/zindex.scss";
@import "@/styles/mixins/flex.scss";

.container {
  position: fixed;
  top: 0;
  left: var(--w-nav-side);
  width: calc(100% - var(--w-nav-side));
  height: var(--h-nav-head);
  background: rgba(255, 0, 0, 0.423);
  z-index: $zindex-fixed;
  @include flex(row, center, center, center);

  nav {
    @include flex(row, center, center, center);
  }
}
