.comment {
  padding: 1rem 0;

  .counts {
    margin-bottom: 1rem;
    display: flex;
    gap: var(--gap-10);
  }

  .form {
    display: flex;

    .thumbnail {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }

    .write {
      width: 100%;
      .account {
        margin-bottom: 5px;
        display: flex;
        gap: var(--gap-5);

        > * {
          flex: 1;
        }
      }

      .textarea {
        width: 100%;
        height: 8rem;
      }
    }
  }
}
