@import "@/styles/mixins/hover.scss";
.subTitleBox {
  margin-left: 0.35rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #eee;
  h5 {
    margin-left: 0.55rem;
    padding: 0.45rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: var(--ft-15);
    border-radius: 10px;
    @include hoverBg();
    .subtitle {
      display: flex;
      align-items: center;
      margin-right: var(--gap-5);
      .subtitleLeftDot {
        margin-right: 0.55rem;
        transform: translateY(-2px);
        font-size: 4px;
      }
    }

    .postCount {
      display: inline-block;
      font-size: var(--ft-11);
      padding: 0rem 0.25rem;
      height: 100%;
      line-height: 1.5;
      color: var(--color-blue-dark);
      border: 1px solid var(--color-blue-dark);
      border-radius: 9px;
    }
  }
}
