@import '@/styles/mixins/hover.scss';

.commentList {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  .commentItem {
    padding: 1rem 0.5rem;
    display: flex;
    border-bottom: var(--1-solid);
    &:hover {
      background: var(--color-f8);
    }

    .thumbnail {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      font-size: 1.5rem;
    }

    .contentBox {
      width: 100%;
    }
  }
}
