@import '@/styles/mixins/hover.scss';

.commentList {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  .editForm {
    display: none;

    .textarea {
      width: 100%;
    }
  }

  .guestConfirm {
    display: none;
  }

  .commentItem {
    padding: 1rem 0.5rem;
    display: flex;
    border-bottom: var(--1-solid);
    &:hover {
      background: var(--color-f8);
    }

    .thumbnail {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }

    .content {
      width: 100%;
      .header {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        .user {
          display: flex;
          .nickname {
            font-weight: 700;
            margin-right: 0.5rem;
          }
          .date {
            font-size: var(--ft-14);
            color: var(--color-text-week);
          }
        }

        .buttons {
          position: relative;
          margin-left: auto;
          display: flex;
          gap: 0.25rem;
          .editButton,
          .deleteButton {
            font-size: var(--ft-14);
            color: var(--color-text-week);
            @include hoverText();
          }
          .deleteConfirmModal {
            position: absolute;
            top: 50%;
            left: 0;
            padding: 0.1rem;
            transform: translate(calc(-100% - 5px), -50%);
            display: none;
            background: var(--color-blue);
            border-radius: 0.25rem;
            &.visible {
              display: flex;
            }

            .deleteConfirmInput {
              margin-right: 0.25rem;
            }
            .deleteConfirmButton {
              margin-right: 0.25rem;
              padding-right: 0.25rem;
              color: var(--color-f);
              white-space: nowrap;
              border-right: 1px solid var(--color-f);
              cursor: pointer;
            }
            .deleteCancelButton {
              margin-right: 0.25rem;
              white-space: nowrap;
              color: var(--color-f);
              cursor: pointer;
            }
          }
        }
      }

      .comment {
        line-height: 1.5;
      }

      .editForm {
        .textarea {
          margin-bottom: 0.15rem;
          width: 100%;
          height: 4rem;
          line-height: 1.5;
        }

        .editConfirmButton,
        .editCancelButton {
          margin-right: 0.25rem;
          padding: 0.25rem 1rem;
          white-space: nowrap;
          background: var(--color-blue);
          color: var(--color-f);
          border-radius: 0.25rem;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background: var(--color-blue-dark);
          }
        }

        .editCancelButton {
          background: var(--color-9);
          &:hover {
            background: var(--color-6);
          }
        }
      }
    }
  }
}
