@import "@/styles/mixins/flex.scss";

.container {
  margin: var(--m-post);
  padding: var(--p-post);
  @include flex(row, flex-start, center, start);
  width: var(--w-post);

  .post {
    width: 100%;
    h2 {
      padding: 1rem 0;
      text-align: center;
      font-size: var(--ft-36);
    }

    .subtitles {
      margin-bottom: 5px;
    }

    // .languages {
    //   margin-bottom: 5px;
    // }

    .info {
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--color-border);
      .author {
        margin-right: 5px;
      }
      .date {
      }
    }

    .content {
      padding: 1rem 0;
      @include flex(column, flex-start, flex-start, start);
      line-height: 1.5;
      border-bottom: 1px solid var(--color-border);
    }

    .counts {
      padding: 1rem 0;
      display: flex;
      gap: var(--gap-10);
    }
  }
}
