@import "@/styles/mixins/flex.scss";

.container {
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  width: var(--w-post);

  .post {
    width: 100%;
    h2 {
      padding: 1rem 0;
      text-align: center;
      font-size: var(--ft-36);
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .info {
      padding-bottom: 1rem;
      border-bottom: var(--1-solid);
      .author {
        margin-right: 5px;
      }
      .date {
      }
    }

    .content {
      padding: 1rem 0;
      @include flex(column, flex-start, flex-start, start);
      line-height: 1.5;
    }

    .countsBox {
      margin-bottom: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }
  }
}
