.container {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  width: var(--w-post);

  .post {
    display: flex;
    flex-direction: column;
    width: 100%;

    pre {
      padding: 0.5rem 1rem;
      background: #161b22;
      color: #ddd;
      border-radius: 0.5rem;
      width: var(--w-post);
      overflow-x: auto;
    }
  }
}
