.container {
  .openMenuButton {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;

    .notice {
      display: none;
    }

    &:hover {
      .notice {
        display: block;
      }
    }
  }
}
