@import '@/styles/mixins/hover.scss';

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: var(--color-f);
  border: 1px solid var(--color-9);
  transition: background 0.3s;

  @include hoverBg();
  p {
    align-items: center;

    display: flex;
    margin-left: 0.35rem;
    span {
      margin-right: 0.35rem;
    }
    i {
      display: flex;
      color: var(--color-3);
    }
  }
}
