@import "@/styles/mixins/hover.scss";

.categoryBox {
  position: relative;
  .selectedSubtitle {
    @include hoverBg();
    font-size: 1rem;
  }

  .categoryList {
    position: absolute;
    width: 100%;
    background: var(--color-f);
    z-index: 9999;

    .mainCategory {
      font-size: 1.25rem;
      color: #f00;
    }
    .subCategory {
      @include hoverBg();
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}
