.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  .title {
    margin-bottom: 1.5rem;
    font-size: var(--ft-36);
  }

  .description {
    line-height: 1.5;
    color: var(--color-text-week);
  }
}
