// 게시물 글자 간 경계 나타내는 "|" 모양
@mixin afterBar {
  position: relative;
  margin-right: 1rem;
  &::after {
    content: "deco bar";
    position: absolute;
    top: 50%;
    right: -0.55rem;
    transform: translateY(-50%);
    width: 1px;
    height: 75%;
    font-size: 0;
    background: var(--color-b);
    border-radius: 50%;
  }
}
