@import "@/styles/mixins/hover.scss";

.container {
  .head {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.5rem;
    }
  }

  .quillContainer {
    height: calc(100vh - var(--h-nav-head) - var(--h-footer));
  }
}
