@import '@/styles/mixins/hover.scss';

.spinContainer {
  padding: 8rem 0rem;
  .quillBox {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: var(--w-post);
}
